<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img width="40" alt="Flight Logo" class="mx-3" src="../assets/images/flight-icon.png" />
  <h1 class="p-l-3">Flight Search Engine</h1>
</div>

<div class="content" role="main">
  <div class="row">
    <div class="col-6">
      <form [formGroup]="flightForm">
        <div class="form-group">
          <label class="mr-4">Source</label>
          <select formControlName="fromCity" (change)="changeSource($event)">
            <option value="" disabled>Select city</option>
            <option *ngFor="let city of origin">{{city}}</option>
          </select>
          <div class="error-msg" *ngIf="submitted && flightForm.controls.fromCity.errors?.required">
            <sup>*</sup>Please select source
          </div>
        </div>
        <div class="form-group">
          <label class="mr-4">Destination</label>
          <select formControlName="toCity" (change)="changeDestination($event)">
            <option value="" disabled>Select city</option>
            <option *ngFor="let city of destination">{{city}}</option>
          </select>
          <div class="error-msg" *ngIf="submitted && flightForm.controls.toCity.errors?.required">
            <sup>*</sup>Please select destination
          </div>
        </div>
      </form>

      <div class="row">
        <div class="col-12">
          <h2 class="text-info">Refine flight search</h2>
        </div>
        <div class="col-2">
          <div class="">{{selectedPrice}}</div>
        </div>
        <div class="col-12">
          <mat-slider min="500" max="10000" step="500" value="0" [(ngModel)]="selectedPrice"
            (ngModelChange)="priceChange()">
          </mat-slider>
        </div>
        <div class="col-2">
          <button class="btn btn-secondary" (click)="search()">Search</button>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-12">
          <div *ngIf="submitted && flights && isFlight">
            <div class="alert alert-success" *ngFor="let info of flights">
              <h4>Available Flights</h4>
              <div>Origin: {{info.origin}}</div>
              <div>Destination: {{info.destination}}</div>
              <div>Airline: {{info.airline}}</div>
              <div>Fare: {{info.fare}}</div>
              <div>Date: {{info.dateTimeString}}</div>
              <div>Dept: 10AM</div>
              <div>Arrival: 10PM</div>
            </div>
          </div>
          <div *ngIf="submitted && !isFlight">
            <div class="alert alert-info" role="alert">There are no flights</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
